@import "../../shared/variables.scss";
.side-bar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 250px !important;
    max-width: 250px !important;
    overflow: hidden;
}
.ant-layout-sider {
    background: $color-primary;
    color: $color-white;
}
.ant-menu {
    background: $color-primary;
}
.logo {
    height: 32px;
    margin: 16px 18px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    a {
        color: $color-white;
        font-weight: 600;
    }
    svg {
        width: 50px;
        margin-right: 13px;
    }
}
.ant-menu-item,
.ant-menu-inline .ant-menu-item {
    margin: 0;
    width: 100%;
}
.ant-menu-inline > .ant-menu-item {
    height: 45px;
    line-height: 45px;
    font-weight: 500;
    font-size: 1rem;
    &:active {
        background-color: $color-secondary;
    }
    &:hover a,
    &:hover {
        color: $color-white;
    }
}
.ant-menu-item,
.ant-menu-item a {
    color: wheat;
}
.ant-menu-item-selected,
.ant-menu-item-selected a {
    color: $color-primary;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $color-secondary;
    color: $color-white;
    a {
        color: $color-white;
    }
}
.ant-menu-inline .ant-menu-item:not(:last-child) {
    margin-bottom: 0px;
}
.ant-menu-inline .ant-menu-item::after {
    border-right: 5px solid $color-orange;
}
.ant-menu-inline {
    border-right: 0;
}
.ant-menu-vertical {
    border-right: 0;
}
.menu-micro {
    width: 80px !important;
    max-width: 80px !important;
}
