$color-primary: #112a45;
$color-primary4: #138585;
$color-primary5: #138585;
$color-primary6: #13a8a8;
$color-primary10: #def5f1;
$color-secondary: #15395b;
$color-white: #fff;
$color-orange: rgb(224, 148, 6);
$color-red: #cf1322;
