.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.mb-2 {
    margin-bottom: 1.5rem;
}
.mb-8 {
    margin-bottom: 8px;
}
.global-loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 254, 254, 0.5);
    display: flex;
    place-content: center;
    place-items: center;
}
.layout {
    margin-left: 200px;
    min-height: 100vh;
}
.side-bar {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}
.ant-layout-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
}
.site-layout-custom {
    margin: 24px 16px;
    padding: 24px !important;
    min-height: 280px;
    margin-top: 84px !important;
}
.ant-table-sticky-header {
    top: 60px !important;
}
.collapsed {
    margin-left: 80px;
    transition: 0.2s;
}
