.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
.mb-2 {
    margin-bottom: 1.5rem;
}
.mb-8 {
    margin-bottom: 8px;
}
.global-loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 254, 254, 0.5);
    display: flex;
    place-content: center;
    place-items: center;
}
